# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ORANKEY_LEFT

config ZMK_KEYBOARD_NAME
	default "Orankey"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ORANKEY_LEFT || SHIELD_ORANKEY_RIGHT

config ZMK_SPLIT
	default y

endif